
.heroBackground{
    background-image: url(../../../assets/img/heroImg.webp);
    background-position: 1px -270px;
    background-repeat: no-repeat;
    background-size: 100%;
    width: 100%;
    height: 550px;
}
.blackout{
    background-size: 100%;
    width: 100%;
    height: 550px;
    background-color: rgba(0, 0, 0, 0.548);
    display: flex;
    align-items: center;
    justify-content: center;
}

.heroBackground .blackout .sloganContainer{
    display: flex;
    flex-direction: column;
    align-items: start;
    justify-content: center;

    height: 550px;
    width: 70%;
    padding-left: 25px;
    line-height: 70px;

    border: 3px solid #fa5100;
    color: white;
    font-weight:bold;
    font-size: 70px;
}

.heroBackground .blackout .sloganContainer span{
    display: flex;
    align-items: start;
    width: 70%;
    color: #fa5100
}
.widgetRow{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    padding: 50px;


    width: 70%;
    margin: auto;

}
