.detailContainer{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    
    width: 80%;
    height: 500px;
    padding: 10px;

    
    margin-top: 100px;

    background-color: white;
    border: 1px solid #8b8b8b;
}
.detailContainer .imgContainer img{
    margin-right: 30px;
    width: 350px;
}
.detailContainer .descriptionContainer{
    display: flex;
    flex-direction: column;
    gap: 18px;
}
.detailContainer .descriptionContainer h2{
    color: white;
    background-color: black;
}