.greeting{
    width: 100%;
}
.itemContainer{
    background-color: white;
    outline: 0.5px solid black;
    gap: 55px;
    flex-wrap: wrap;
    flex-direction: row;
    display: flex;
    margin: auto;
    justify-content: center;
    align-items: center;
    margin-bottom: 100px;
}