

/* color naranja #fa5100 */
header {
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: #ffffff;
    position: sticky;
    top: 000.1px;
}

.socialMediaNav{
    height: 50px;
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
    align-items: center;
    width:70%;
    gap: 10px;
}
.socialMediaNav img{
    
    max-width: 18px;
    max-height: 18px;
    transition: transform 0.2s ease;
}
.socialMediaNav img:hover{
    transform: scale(1.1);
}

.navBar {
    width: 70%;
    height: 50px;
    display: flex;
    flex-direction: row;
    align-items: flex-end;
    justify-content: space-between;
}
/* .navBar::after{
    color: white;
    position: absolute;
    top: 97.97px;
    display: flex;
    height: 541px;
    width: inherit;
    border:5px solid #fa5100;
    
} */


.logoHeaderContainer{
    
    display: flex;
    width: 250px;

}


header .navBar .logoHeader:hover {
    opacity: 0.85;
}


.buttonNav{
    width: 50%;
    display: flex;
    justify-content:space-between;
    align-items: center;
    gap: 5px;
}


.carro {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;

    margin-left: 10px;
    gap: 10px;

    text-decoration: none;
    color: #fa5100;
    font-weight: bold;
}


.carroImg {
    margin: 5px;
    max-width: 30px;
    max-height: 30px;
}

/* ItemListContainer */