* {

  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Roboto', sans-serif;
  font-family: 'Roboto Condensed', sans-serif;
}

.mainContainer {
  /* flex-direction: column;
  justify-content: center;
  display: flex; */
  margin: auto;
  width: 90%;
}